"This is the user profile page"
<!-- 'Hello Username'
create survey button
  (<a href="/surveys/new">Create Survey</a> which should take you to the create new survey page)
Surveys you've taken
  list of surveys
  (<a href="/surveys/:survey_id/results">Home</a>)
  this needs to be hidden if it is not your profile.
Surveys you've created
  list of surveys
  (<a href="/surveys/:survey_id/results">Home</a>) -->
<a href="/">Home</a>
